# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
dist/
build/

# Virtual env
.venv/
venv/
ENV/
env/

# Jupyter
.ipynb_checkpoints/

# PyCharm / IntelliJ
.idea/

# macOS
.DS_Store

# pytest / coverage
.pytest_cache/
.coverage
htmlcov/

# mypy
.mypy_cache/

# logs
*.log
